* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./bharath-g-s-aLGiPJ4XRO4-unsplash.jpg);
  background-color: #f1f8f9;
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.content-wrap {
  background-color: rgb(131, 179, 179, 0.4);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;

  margin: 40px 60px 10px 60px;
}
.header-part {
  height: 20vh;
}
h1 {
  font-family: "Indie Flower", cursive;
  font-size: 5rem;
  font-weight: bold;
  color: rgb(44, 75, 143);
}
h2 {
  font-size: 3.8rem;
  font-weight: bold;
  color: rgb(44, 75, 143);
}

#task-input {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border-color: #1a224a;
  border-width: 3px;
  width: 60%;
  height: 4rem;
  min-height: 48px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  margin: 0.2rem;
  padding: 5px 10px;
  border-radius: 0.7em;
}
#task-input:focus {
  outline: none;
}

button {
  min-width: 48px;
  min-height: 48px;
  outline: none;
}

#adding-btn {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  color: #f1f8f9;
  border-radius: 8%;
  background-color: rgb(58, 158, 121);
  text-align: center;
  box-shadow: 1px 1px 3px teal;
  height: 3.8rem;
  width: 3.8rem;
  transition: all 1s;
}
#adding-btn:hover {
  background-color: rgb(35, 194, 46);
  box-shadow: 2px 2px 5px;
  font-size: 1.8rem;
}

#list-of-todos {
  width: 70%;
  min-height: 50vh;
  padding: 0.75rem;
  padding-top: 1.25rem;
  margin: 2rem auto;
  display: flex;
  text-align: left;
}

.alert {
  display: none;
  justify-content: center;
  width: 66%;
  height: 2rem;
  background-color: #db1f48;
  color: black;
  font-size: 1.5rem;
  margin-top: 5px;
}

ul li {
  cursor: pointer;
  padding: 10px 6px 10px 50px;
  font-size: 30px;
}

.fa-trash-alt {
  color: rgb(17, 131, 17);
  size: 48px;
  text-align: right;
  padding-left: 50px;
}
.fa-trash-alt:hover {
  font-weight: bold;
}

.fa-square {
  color: rgb(44, 75, 143);
  padding-right: 20px;
}
.fa-square:hover {
  color: #db1f48;
}
.fa-check-square {
  font-size: 1.2em;
  color: #db1f48;
  padding-right: 20px;
}
li {
  list-style-type: none;
}

.overline {
  text-decoration: line-through #1a224a;
  color: rgb(44, 75, 143);
}

.list-item h2 {
  display: flex;

  font-size: 1.5rem;
  margin-top: 1rem;
}

#clear-list {
  cursor: pointer;
  background-color: transparent;
  color: #db1f48;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  justify-self: center;

  transition: all 1s;
}

#clear-list:hover {
  padding: 0.2rem;
  background-color: #004369;
  box-shadow: 0 0 5px chartreuse;
  color: cornsilk;
  border-radius: 8%;
}
